.wrapper {
    width: 600px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: #333;
}

#counter {
    display: block;
    font-size: 48px;
    text-align: center;
    margin: 100px 0;
    color: #555;
}

.btn {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#inc {
    background-color: #4CAF50;
}

#dec {
    background-color: #d84e5a;
}

#rnd {
    background-color: #d2d84e;
}